.search-navi{
    display:flex;
    justify-content: space-between;
    background-color:#2e8b57;
    height:100rpx;
    .search-nav1{
        display: flex;
        border:1px solid rgb(228, 226, 226);
        width:75%;
        height:80rpx;
        background-color: white;
        border-radius:50rpx;
        align-items: center;
        image{
            width:50rpx;
            height:50rpx;
        }
        input{
            font-size:35rpx;
        }
    }
    button{
        height: 80rpx;
        border: 0;
        background-color: #fff;
        color: rgb(165, 164, 164);
        font-size: 30rpx;
        margin-right: 10px;
        padding: 0 20rpx;
        display: flex;
        align-items: center;
    }
}
.search-record{
    .search-block{
        display: flex;
        justify-content: space-between;
        label{
            font-size:40rpx;
            font-style:italic;
            color:rgb(167, 164, 164);
        }
        cover-image{
            width:70rpx;
            height:70rpx;
        }
    }
    .search-layer{
        display:flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        view{
            width:200rpx;
            height:100rpx;
            text{
                font-family: "宋体";
            }
        }
    }
    .tip{
        margin-top:10px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}